<!DOCTYPE HTML>
<html>

<head>
  <title>My framework</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  {% block style %}{% endblock %}
</head>
<body>
    <div id="main">
        {% block menu %}    {% endblock %}
        <div id="site_content">
            {% block sidebar%}  {% endblock%}
            {% block body %}    {% endblock %}
            
        </div>
    </div>
</body>
</html>