{% extends "base.html" %}
{% block style %}{% include "inc_style.html" %}{% endblock %}
{% block menu %}{% include "inc_menu.html" %}{% endblock %}
{% block sidebar%} {% include 'inc_sidebar.html' %} {% endblock%}
{% block body %}
    <div id="content">
        <a href="/">Back to main page</a>

        <h1>Create category</h1>
        <br>

        <form method="post">
            <input type="text" name="name" placeholder="Name">
            <button type="submit">Save</button>
        </form>
      </div>
{% endblock %}